.app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50%;
    gap: 20px;
    flex-direction: column;
}

.title {
    color: rgb(201, 194, 194);
    font-size: 28px;
    margin-bottom: 1px
}