.app {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 8rem 20px 0;
}

.title {
    color: rgb(201, 194, 194);
    font-size: 36px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.text {
    color: rgb(201, 194, 194);
    font-size: 17px;
}